[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
uvicorn = "*"
sqlalchemy = "*"
dependency-injector = {extras = ["yaml"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
pymysql = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn src.main:app --host 0.0.0.0 --port 8000"
